/* Add your custom CSS styles here */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 120px; /* Adjust the size of your logo */
  height: auto;
}

.strong-text {
  color: black;
  font-size: 120%;
  font-weight: 900;
}

/* Front Page Styles */
.front-page {
  background-color: #2980b9;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.front-page .branding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page .branding h1 {
  font-size: 55px;
}

.front-page .logo {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 25%;
}

.front-page h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.front-page p {
  font-size: 20px;
  margin-bottom: 40px;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down a {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: scroll-down 1.5s infinite;
}

.scroll-down a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  animation: scroll-down-pulse 1.5s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translate(-50%, -40%) scale(1);
  }
  50% {
    transform: translate(-50%, -40%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes scroll-down-pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* About Section Styles */
#about {
  background-color: #2980b9;
  border-top: 5px solid white;
}

.about-content {
  padding: 5em 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

#about img {
  height: 15em;
  width: auto;
  margin: 0 25px;
  object-fit: cover;
  border-radius: 50%;
  padding: 5px;
  /* border:5px solid white; */
}

.about-text {
  flex: 1;
  text-align: left;
}

#about h2 {
  margin-top: 0;
  font-size: 36px;
  margin-bottom: 25px;
  color: black;
}

#about p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 15px;
  color: white;
}

#about .p1 {
  margin-left: 0px;
}

#about .p2 {
  margin-left: 40px;
}

#about .p3 {
  margin-left: 80px;
}

/* Education Section Styles */
#education .education-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the space between education cards */
}

/* Experience Section Styles */
#experience .experience-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Adjust the space between experience cards */
}

/* Technologies Section Styles */
.cards.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards.technologies .card {
  width: 160px; /* Adjust the width of the technology cards */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adjust the right margin between technology cards */
  transition: transform 0.3s ease;
}

.cards.technologies .card:hover {
  transform: translateY(-5px);
}

.cards.technologies .card .card-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cards.technologies .card .logo {
  height: 40px; /* Adjust the size of the technology logo */
  width: auto;
  margin-right: 20px;
}

.cards.technologies .card .description {
  flex: 1;
}

.cards.technologies .card h3 {
  margin: 0;
  font-size: 16px;
}

/* Other section styles */
#other ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#other ul li {
  margin-bottom: 10px;
}

/* Projects Section Styles */
#projects .container {
  max-width: 960px;
  margin: 0 auto;
}

#projects h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add the desired space between project cards */
}

.project-card {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 45%; /* Adjust the width of the project cards */
  height: 200px; /* Adjust the height of the project cards */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:hover {
  transform: scale(1.1); /* Increase size on hover */
}

.project-card .project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: 0 auto;
}

.project-card .project-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.project-card:hover .project-details {
  opacity: 1;
}

.project-card h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 20px;
}

/* Footer Styles */
footer {
  background-color: #2980b9;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.social-icons {
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  margin-right: 10px;
}

.social-icons img {
  width: 30px; /* Adjust the size of the social media icons */
  height: 30px;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.social-icons img:hover {
  opacity: 1;
}


/**
 * Cards Section
 */

/* Exteded Card Section */
.extended-card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 300px; /* Adjust the width of the experience cards */
  padding: 20px;
}

.extended-card:hover {
  transform: translateY(-5px);
}

.extended-card .logo {
  height: 80px; /* Adjust the size of the company logos */
  width: auto;
  margin-bottom: 10px;
}

.extended-card .details h3 {
  margin: 0;
  font-size: 20px;
}

.extended-card .details p {
  margin-bottom: 10px;
}

.extended-card .details .role {
  font-weight: bold;
}

.extended-card .details .time-period {
  color: #888;
  font-size: 14px;
}