/* Add your custom CSS styles here */

/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  color: #333;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.logo {
  width: 120px; /* Adjust the size of your logo */
  height: auto;
}

/* Front Page Styles */
.front-page {
  background-color: #2980b9;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.front-page .branding {
  display: flex;
  justify-content: center;
  align-items: center;
}

.front-page .branding h1 {
  font-size: 55px;
}

.front-page .logo {
  margin-bottom: 20px;
  margin-right: 20px;
  width: 25%;
}

.front-page h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.front-page p {
  font-size: 20px;
  margin-bottom: 40px;
}

.scroll-down {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down a {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 2px solid #fff;
  border-radius: 50%;
  position: relative;
  animation: scroll-down 1.5s infinite;
}

.scroll-down a:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 50%;
  animation: scroll-down-pulse 1.5s infinite;
}

@keyframes scroll-down {
  0% {
    transform: translate(-50%, -40%) scale(1);
  }
  50% {
    transform: translate(-50%, -40%) scale(0.8);
  }
  100% {
    transform: translate(-50%, -40%) scale(1);
  }
}

@keyframes scroll-down-pulse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Section Styles */
section {
  margin-bottom: 40px;
}

h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

/* About Section Styles */
#about p {
  text-align: center;
  margin-bottom: 20px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-content ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.about-content ul li {
  margin-bottom: 10px;
}

/* Technologies Section Styles */
.cards.technologies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards.technologies .card {
  width: 160px; /* Adjust the width of the technology cards */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px; /* Adjust the right margin between technology cards */
  transition: transform 0.3s ease;
}

.cards.technologies .card:hover {
  transform: translateY(-5px);
}

.cards.technologies .card .card-content {
  display: flex;
  align-items: center;
  padding: 10px;
}

.cards.technologies .card .logo {
  height: 40px; /* Adjust the size of the technology logo */
  width: auto;
  margin-right: 20px;
}

.cards.technologies .card .description {
  flex: 1;
}

.cards.technologies .card h3 {
  margin: 0;
  font-size: 16px;
}

/* Projects Section Styles */
#projects {
  background-color: #f2f2f2;
}

#projects .container {
  max-width: 960px;
  margin: 0 auto;
}

#projects h2 {
  margin-bottom: 20px;
  font-size: 30px;
  text-align: center;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px; /* Add the desired space between project cards */
}

.project-card {
  background-size: cover;
  background-position: center;
  position: relative;
  width: 45%; /* Adjust the width of the project cards */
  height: 200px; /* Adjust the height of the project cards */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-card:hover {
  transform: scale(1.1); /* Increase size on hover */
}

.project-card .project-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
  display: block;
  margin: 0 auto;
}

.project-card .project-details {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
  transition: opacity 0.3s ease;
  opacity: 0;
}

.project-card:hover .project-details {
  opacity: 1;
}

.project-card h3 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.project-card p {
  margin-bottom: 20px;
}

/* Footer Styles */
footer {
  background-color: #2980b9;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}